<div class="contents">
  <% @tweets.each do|tweet| %>
  <div class="tweetcontents">
    <div class="userimage">
      <%= image_tag 'psyduck.jpeg', :size =>'80x80' %>
    </div>
    <div class="nametext">
      <p class="username">
        <%= tweet.user.nickname %>
      </p>
      <p class="text">
        <%= tweet.text %>
      </p>
    </div>
  </div>
  <% end %>
</div>