<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>ついったー</title>
  </head>

  <body>
    <div class="contents">
      <% @tweets.each do|tweet| %>
      <div class="tweetcontents">
        <div class="userimage">
          <%= image_tag 'psyduck.jpeg', :size =>'80x80' %>
        </div>
        <div class="nametext">
          <p class="username">
            <%= tweet.name %>
          </p>
          <p class="text">
            <%= tweet.text %>
          </p>
        </div>
      </div>
      <% end %>
    </div>
  </body>
</html>