<div class="contents">
  <h2>投稿する</h2>
  <p>あなたは<%= current_user.nickname %>さんですね！</p>
  <%= form_tag('/tweets',method: :post) do %>
    <div class="inputarea">
      <input type="text" name="text" placeholder="つぶやきを入力しよう">
    </div>
    <div class="btn">
      <input class="btn1" type="submit" value="投稿を送信★〃">
    </div>
  <% end %>
</div>
