body, html {
  font-family: 'sans-serif','serif';
  background-color: white;
}

a {
  text-decoration: none;
  color: #333333;
}

header {
  background-color: #009b8b;
  height: 70px;
  display: flex;
  h1 {
    margin: auto auto auto 40px;
    a {
      color: white;
    }
  }
  ul {
    display: flex;
    list-style: none;
    margin: auto 40px auto auto;
    li {
      margin: 0 10px;
      color: white;
      a {
      color: white;
      }
    }
  }
}

.post {
  width: 400px;
  height: 100px;
  margin: 10px auto;
  padding: 10px;
  box-shadow: 1px 1px 2px gray;
  input {
    display: block;
    margin: 10px auto;
  }
  input[type="text"] {
    width: 200px;
    height: 40px;
    }
  input[type="submit"] {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #009b8b;
    color: white;
    }
}

.tweetcontents {
  width: 400px;
  min-height: 100px;
  margin: 10px auto;
  padding: 10px;
  box-shadow: 1px 1px 2px gray;
  a {
    display: inline-block;
    width: 80px;
    margin: 10px;
  }
  .tweet_text {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    .tweet_header {
      width: 270px;
      height: 30px;
      .username {
        display: inline-block;
        width: 170px;
        height: 30px;
      }
      .delete {
        display: inline-block;
        width: 50px;
        height: 30px;
        text-align: right;
        a {
          display: inline-block;
          height: 30px;
          margin: 0;
        }
      }
    }
    p {
      display: inline-block;
      width: 250px;
    }
  }
}


.iine_button{
  line-height: 42px;
  color: #6d3701;
  font-size: 14px;
  display: inline-block;
  padding: 0 18px;
  border-radius: 100px;
  font-weight: bold;
}