body, html {
  font-family: 'sans-serif','serif';
  background-color: white;
  text-align: center;
}

a {
  text-decoration: none;
}

h1, {
  font-size: 20px;
  margin:0 auto;
}

h2 {
  font-size: 20px;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  a {
    color:inherit;
  }
}

.user-info {
  margin-right: 25px;
  width: 250px;
  display: flex;
  .user-name {
    font-size: 15px;
  }
  .btn {
    width: 100px;
    height: 25px;
    border: 1px solid #4575b4;
    border-radius: 15px;
    text-align: center;
    margin: 5px;
    padding: 5px;
  }
  .btn:hover {
    background-color: #4575b4;
  } 
  .btn a {
      display: block;
      text-align: center;
      line-height: 25px;
      font-size: 15px;
      color:inherit;
  }
  .btn a:hover {
      color: #fff;
  }
}

.link {
  display:inline-block;
}

.contents {
  width: 100%;
  .formarea {
    width: 200px;
    margin:0 auto;
    .field {
      width: 200px;
      text-align: left;
      margin-top: 10px;
      input {
       width: 200px;
      }
      label {
        font-size: 12px;
       }
      p {
        font-size: 12px;
      }
    }
  }
}

.contents .post {
  margin: 30px 0px;
}

.tweetcontents {
  width: 300px;
  display: flex;
  margin:0 auto;
  padding: 5px;
  border: solid #d8d2c5;
  display: flex;
}
.userimage {
  margin: 5px;
}

.tweet_text{
  text-align: left;
  flex-wrap: wrap;
}

.tweet_header {
  width: 190px;
  display: flex;
  margin: 10px 0;
}

.username {
  width: 80%;
}

.tweet_text .text{
  width: 190px;
}

.arrow {
  width: 20%;
  margin: 0 10px;
  padding: 0;
}

.arrow input {
  display: none;
}

.arrow .more{
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.2s;
  a {
   font-size: 5px;
   color: black;
  }
}

.check:checked + .more{
  height: auto;
  padding: 1px;
  background: #ffffff;
  border: solid #d8d2c5 2px;
  opacity: 1;
}

.btn {
}

.btn1 {
  width: 120px;
  padding: 5px;
  margin: 10px;
  background-color: #26bfbf;
  color: white;
  border-radius: 4px;
  font-size: 14px;
}

.btn2 {
  width: 100px;
  padding: 5px;
  margin: 10px;
  background-color: #d8d2c5;
  color: white;
  border-radius: 4px;
  font-size: 14px;
}

.inputarea {
  width: 190px;
  margin:0 auto;
}

.inputarea input[type=text] {
  display: block;
  width: 150px;
  padding: 5px;
  margin: 10px;
}